.menu{
    padding:0;
    list-style:none;
    width:200px;
    font-size:12px;
    /*background:#c1c1c1;
    /*background-color:#01A54E;*/
	background-color:#fff;
    border: 0px solid rgba(0,0,0,0.8);
}
 
.menu li a{
    display: block;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    border-top: 1px solid rgba(255,255,255, 0.2);
    background:#01A54E;
    text-decoration:none;
    color:#FFF;
    text-shadow: 1px 0px 1px rgba(0,0,0,0.2);
    filter: dropshadow(color=#000, offx=1, offy=0);
    padding:10px;
    padding-left:20px;
}
 
.menu li ul li a{
    font-size:12px;
    color:#47689d;
    text-shadow: 1px 0px 1px rgba(255,255,255,0.5);     
}
 
.menu li a:hover{
    background:#4a6ba2;
    background:#017638;
    -moz-transition: background 0.3s ease-in;
    -webkit-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
}
 
.menu ul{
    margin:0;
    padding:0;
    list-style:none;
    height:0;
    overflow: hidden;
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
 
.menu li:hover ul{
    height:108px;    
    overflow-y:auto;
    overflow-x:hidden;
}
 
.menu ul li a{
    background:#fafafa;
}
 
.menu ul li a:hover {
    background: none repeat scroll 0 0 #ccc;
    color: #fff;
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
}
- See more at: http://www.tutosytips.com/creacion-de-un-menu-tipo-acordeon-solo-con-css3/#sthash.OsiD6HFn.dpuf