/* CSS Document */

/* MENU OPCIONES */
#naviOpciones{	
	list-style-type:none;
	width:100%;
	}
#naviOpciones li{
	margin:2px;
	padding:2px;
	border: 0px solid#cccccc;
	background:#AFFFAF;
	border-radius:0px;
	float:left;
}
#naviOpciones li a{
	display:block;/* Convierte los vinvulos en un bloque*/
	width:200px;
	padding:6px 10px 5px 10px;
	text-decoration:none;
	text-align:center;
	font-size: 12px;
	color:#149628;
	color:#333;
	
}
#naviOpciones li a:hover{
	color:#fff;
	background-position:bottom;
	background-color:#149628;
	border-radius:0px;
}


