* {margin:0; padding:0; outline:none}
/*body {font:10px Verdana,Arial; margin:25px; background:#fff url(images/bg.gif) repeat-x; color:#091f30}*/

.sortable {width:100%; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none; margin:0 auto 15px}
.sortable th {background:url(../img/header-bg.gif); color:#cfdce7; border:1px solid #fff; border-right:none; text-align:center; font-size:12px;}
.sortable th h3 {font-size:10px; padding:6px 8px 8px}
.sortable td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1}
.sortable .head h3 {background:url(../img/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .desc, .sortable .asc {background:url(../img/header-selected-bg.gif)}
.sortable .desc h3 {background:url(../img/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .asc h3 {background:url(../img/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {color:#fff}
.sortable .evenrow td {background-color :#fff/*background:#fff*/}
.sortable .oddrow td {
	background-color: #ecf2f6;
		/*background:#ecf2f6*/
		}
.sortable td.evenselected {background:#ecf2f6}
.sortable td.oddselected {background:#dce6ee}

#controls {width:100%; margin:0 auto; height:20px}
#perpage {float:left; width:20%}
#perpage select {float:left; font-size:11px}
#perpage span {float:left; margin:2px 0 0 5px}
#navigation {float:left; width:60%; text-align:center}
#navigation img {cursor:pointer}
#text {float:left; width:20%; text-align:right; margin-top:2px}
